[submodule "dependencies/nativefiledialog"]
	path = dependencies/nativefiledialog
	url = git@github.com:AlvaroBarua/nativefiledialog.git
[submodule "dependencies/libconfig"]
	path = dependencies/libconfig
	url = git@github.com:hyperrealm/libconfig.git
[submodule "dependencies/sdl"]
	path = dependencies/sdl
	url = git@github.com:libsdl-org/SDL.git
